.outerRange {
    margin: 3rem auto;
    width: 95%;
    max-width: 40rem;
    border-radius: 6px;
    padding: 1rem;
    text-align: center;
}


.form {
    width: auto;
    margin: 1rem 0;
    padding: 0.5rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.form h1 {
    text-align: center;
    color: white;
}

.control {
    margin: 0 0 1rem 4rem;
    /*margin-bottom: 0.5rem;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.control label {
    font-weight: bold;
    margin-bottom: 0.5rem;

}

.control input {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 25rem;
    height: 2rem;
    max-width: 100%;
    text-align: left;
    padding: 0.25rem;
}

.control .error {
    margin-left: 13px;
    display: inline-block;
    color: red;
}


.actions {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.actions button {
    font: inherit;
    height: 40px;
    color: #5a1a01;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 25px;
    padding: 0.5rem 2rem;
}

.actions .toggle {
    /*margin-top: 1rem;*/
    background-color: #ffe6dc;
    color: black;
    border: none;
    padding: 0.15rem 1.5rem;
}

.actions p {
    color: black;
}

.actions button:hover,
.actions button:active {
    background-color: #ffe6dc;
}

.actions .submit {
    border: 1px solid #5a1a01;
    background-color: #5a1a01;
    color: white;
}

.actions .submit:hover,
.actions .submit:active {
    background-color: #7a2706;
}

.invalid label {
    color: #ca3e51;
}

.invalid input {
    border-color: #aa0b20;
    background-color: #ffeff1;
}


/*.auth {*/
/*  margin: 3rem auto;*/
/*  width: 95%;*/
/*  max-width: 25rem;*/
/*  border-radius: 6px;*/
/*  background-color: #38015c;*/
/*  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);*/
/*  padding: 1rem;*/
/*  text-align: center;*/
/*}*/

/*.auth h1 {*/
/*  text-align: center;*/
/*  color: white;*/
/*}*/

/*.control {*/
/*  margin-bottom: 0.5rem;*/
/*}*/

/*.control label {*/
/*  display: block;*/
/*  color: white;*/
/*  font-weight: bold;*/
/*  margin-bottom: 0.5rem;*/
/*}*/

/*.control input {*/
/*  font: inherit;*/
/*  background-color: #f1e1fc;*/
/*  color: #38015c;*/
/*  border-radius: 4px;*/
/*  border: 1px solid white;*/
/*  width: 100%;*/
/*  text-align: left;*/
/*  padding: 0.25rem;*/
/*}*/

/*.actions {*/
/*  margin-top: 1.5rem;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*}*/

/*.actions button {*/
/*  cursor: pointer;*/
/*  font: inherit;*/
/*  color: white;*/
/*  background-color: #9f5ccc;*/
/*  border: 1px solid #9f5ccc;*/
/*  border-radius: 4px;*/
/*  padding: 0.5rem 2.5rem;*/
/*}*/

/*.actions button:hover {*/
/*  background-color: #873abb;*/
/*  border-color: #873abb;*/
/*}*/

/*.actions .toggle {*/
/*  margin-top: 1rem;*/
/*  background-color: transparent;*/
/*  color: #9f5ccc;*/
/*  border: none;*/
/*  padding: 0.15rem 1.5rem;*/
/*}*/

/*.actions .toggle:hover {*/
/*  background-color: transparent;*/
/*  color: #ae82cc;*/
/*}*/